*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    display:flex;
    background:#f5f7fa;
}

/* SIDEBAR */

.sidebar{
    width:260px;
    height:100vh;
    background:#009245;
    position:fixed;
    left:0;
    top:0;
}

.logo{
    text-align:center;
    padding:30px;
    color:white;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin:10px 0;
}

.sidebar ul li a{
    display:block;
    color:white;
    text-decoration:none;
    padding:15px 25px;
    transition:.3s;
}

.sidebar ul li a:hover{
    background:#f58220;
}

/* MAIN */

.main{
    margin-left:260px;
    width:100%;
    padding:30px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.user{
    font-weight:bold;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);

    border-left:5px solid #f58220;
}

.card h3{
    font-size:16px;
    color:#666;
    margin-bottom:12px;
}

.card p{
    font-size:28px;
    font-weight:bold;
    color:#009245;
}

@media(max-width:900px){
    .cards{
        grid-template-columns:repeat(2,1fr);
    }
}

@media(max-width:600px){
    .cards{
        grid-template-columns:1fr;
    }
}

/* TABLE */

.table-box{
    margin-top:30px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.table-box h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th{
    background:#009245;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#f8f8f8;
}
.logo-area{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    padding:20px;
    border-bottom:1px solid rgba(255,255,255,0.2);
}

.logo-area img{
    width:48px;
    height:48px;
    object-fit:contain;
}

.logo-area h2{
    color:#fff;
    font-size:18px;
    font-weight:600;
    margin:0;
}